h1.z {
  color: rgb(48, 40, 40);
  position:absolute;
  padding: 800px 700px;
 }
 p.r {
   color: rgb(48, 41, 41);
   position: absolute;
   padding: 900px 200px;
 }
 img {
  width: 80px;
  filter:  brightness(1.2) hue-rotate(-20deg) saturate(1.5);
  margin: 1020px 250px;
 }
 p.Ba {
  color: rgb(48, 39, 39);
  position: absolute;
  right: 38%;
  top: 850px;
  font-weight: bold;
 }
 p.Ca {
  color: rgb(48, 36, 36);
  position: absolute;
  right: 36%;
  top: 880px;
 }
 img.g {
  width: 100px;
  position: absolute;
  right: 35%;
  top: 65px;
 }
 p.f {
  color: rgb(48, 34, 34);
  position: absolute;
  right: 18%;
  top: 850px;
  font-weight: bold;
 }
 p.t {
  color: rgb(48, 32, 32);
  position: absolute;
  right: 16%;
  top: 880px;
 }
 p.l {
  color:rgb(48, 40, 40);
  position: absolute;
  right: 1%;
  top: 850px;
  font-weight: bold;
 }
 img.w  {
  position: absolute;
  right: 20%;
  top: 90px
 }
 p.la {
  color: rgb(49, 35, 35);
  position: absolute;
  right: 0%;
  top: 880px
 }
 img.wa {
  position:absolute;
  right: 4%;
  top: 90px;
 }
 p.s {
  color: rgb(48, 37, 37);
  position:absolute;
  margin-left: 34%;
  top: 850px;
  font-weight: bold;
 }
 p.h {
  color: rgb(48, 33, 33);
  position: absolute;
  margin-left: 32%;
  margin-top: 820px;
 }
